@font-face {
    font-family: muktaMalar;
    font-weight: 800;
    src: url(/assets/vrs/font/MuktaMalar-ExtraBold.woff);
}

@font-face {
    font-family: muktaMalar;
    font-weight: 500;
    src: url(/assets/vrs/font/MuktaMalar-Regular.woff);
}

@font-face {
    font-family: muktaMalar;
    font-weight: bold;
    src: url(/assets/vrs/font/MuktaMalar-Bold.woff);
}



:root {
    font-family: muktaMalar, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0px;
}

a {
    color: #1175f8;
}

.title_bar {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #4ab0be;
}

.logoImg {
    margin: 15px;
    height: 46px;
    image-rendering: pixelated;
}

.logoLink {
    display: flex;
    align-items: center;
    font-size: 46px;
    color: white;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    font-weight: 800;
}

.previewContent {
    width: 100vw;
    height: 80vh;
    position: relative;
}

.previewAssets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.assetVideo {
    object-fit: cover;
}

.previewAssets > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%)
}

.previewContentLabelContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewContentLabel {
    width: 300px;
    display: flex;
    gap: 11px;
    font-size: 30px;
    color: white;
    font-weight: bold;

    text-wrap-mode: nowrap;
    
    border-radius: 40px;
    border: 1px solid rgba(114, 114, 114, 0.377);
    padding: 15px 45px 15px 45px;
    background-color: rgba(114, 114, 114, 0.123);
    backdrop-filter: blur(10px);
}

.labelChangeContainer {
    width: 150px;
    height: 40px;
    position: relative;
    color: #4ab0be;
}

.labelChangeContainer > * {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}


@media (width <= 550px) {
    .title_bar {
        height: 40px;
    }

    .logoImg {
        margin: 8px;
        height: 23px;
    }
    
    .logoLink {
        font-size: 23px;
    }
}

@media (width <= 400px) {
    .previewContentLabel {
        width: 200px;
        gap: 8px;
        font-size: 20px;

        border-radius: 20px;
        padding: 10px 30px 10px 30px;
    }

    .labelChangeContainer {
        width: 100px;
        height: 20px;
        position: relative;
        color: #4ab0be;
    }
}

.projectContent {
    display: flex;
}

.profileContent {
    width: 100%;
    background-color: #28595f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileContentHeader {
    font-size: 40px;
    font-weight: 800;
    color: white;
    width: 100%;
    text-align: center;
    background-color: #17363a;
}

.profileCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 25px;
    --scale-factor: 12;
}

@media (width <= 790px) {.profileCardContainer {--scale-factor: 11;}}
@media (width <= 710px) {.profileCardContainer {--scale-factor: 10;}}
@media (width <= 650px) {.profileCardContainer {--scale-factor: 9;}}
@media (width <= 580px) {.profileCardContainer {--scale-factor: 8;}}
@media (width <= 510px) {.profileCardContainer {--scale-factor: 7;}}
@media (width <= 440px) {.profileCardContainer {--scale-factor: 6.5;}}
@media (width <= 410px) {.profileCardContainer {--scale-factor: 6;}}
@media (width <= 380px) {.profileCardContainer {--scale-factor: 5.5;}}
@media (width <= 350px) {.profileCardContainer {--scale-factor: 5;}}
@media (width <= 310px) {.profileCardContainer {--scale-factor: 4.5;}}
@media (width <= 285px) {.profileCardContainer {--scale-factor: 4;}}
@media (width <= 255px) {.profileCardContainer {--scale-factor: 3.5;}}
@media (width <= 200px) {.profileCardContainer {--scale-factor: 2;}}

.profileCard {
    font-size: calc(1.45px * var(--scale-factor));
    position: relative;
    color: white;
    width: calc(62px * var(--scale-factor));
    height: calc(52px * var(--scale-factor));
    background-image: url("/assets/vrs/socials_frame_nyrthos.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.profileLabel {
    position: absolute;
}

.introductionLabel {
    top: calc(19.5px * var(--scale-factor));
    left: calc(17.6px * var(--scale-factor));
    width: calc(38px * var(--scale-factor));
    font-size: calc(1.4px * var(--scale-factor));
    line-height: calc(1.5px * var(--scale-factor));
}

.socialsLabel {
    top: calc(28px * var(--scale-factor));
    left: calc(17.6px * var(--scale-factor));
    width: calc(38px * var(--scale-factor));
    height: calc(13px * var(--scale-factor));
    display: flex;
    flex-direction: column;
}

.nyrthosSocialsLabel {
    top: calc(30px * var(--scale-factor));
}

.socialsHeader {
    font-size: calc(2.2px * var(--scale-factor));
    margin-top: calc(0.3px * var(--scale-factor));
    margin-bottom: calc(0.2px * var(--scale-factor));
    line-height: calc(2.2px * var(--scale-factor));
}

.socialsLogo {
    width: calc(1.75px * var(--scale-factor));
    height: calc(1.75px * var(--scale-factor));
    margin: calc(0.225px * var(--scale-factor));
    image-rendering: auto;
    object-fit: fill;
}

.socialsField {
    display: flex;
    gap: 5px;
    height: calc(2.2px * var(--scale-factor));
}

.socialMediaSiteLabel {
    width: calc(5px * var(--scale-factor));
    padding-left: calc(0.1px * var(--scale-factor));
    padding-right: calc(1px * var(--scale-factor));
}

.pronounsLabel {
    top: calc(34.2px * var(--scale-factor));
    left: calc(5.5px * var(--scale-factor));
    width: calc(10px * var(--scale-factor));
    font-size: calc(2px * var(--scale-factor));
    text-align: center;
}

.nyrthosPronounLabel {
    top: calc(30.25px * var(--scale-factor));
}
